<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDoList with Vuejs</title>
  <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
  <div id="app">
    <h1>My ToDoList with VueJS</h1>
    <input type="text" v-model="message" @click="deleteInputMessage" />
    <a href="#" @click="ajouter" v-if=" message != '' ">Ajouter</a>
    <p v-bind:title="message" v-for="todo in todos" @click="inverser">
      {{ todo }}
    </p>
  </div>

  <script>
    const vm = Vue.createApp({
      data(){
        return{
          message: "Ajoute une tâche",
          todos: ["Sauver le monde", "Apprendre Vue JS", "Boire un café"]
        }
      },
      methods:{
        inverser(){
          this.todos.reverse();
        },
        ajouter(){
          this.todos.push(this.message);
          this.message = '';
        },
        deleteInputMessage(){
          this.message = '';
        }
      }
    }).mount('#app')
  </script>
</body>
</html>
